.container{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid black
}
.logo{
  height: 50px;
  width: 50px;
  margin: 5px;
}
.sections {
  display: flex;
  gap:10px;
  margin: 5px;
  
}
.sections a {
  text-decoration: none;
}
.cart{
  width:200px;
  height:350px;
  margin:20px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}
.data{
  display: flex;
flex-wrap: wrap;
}
.search{
  margin:20px;
}